[submodule "src/scss/vendor/breakpoint"]
    path = src/scss/vendor/breakpoint
    url = https://github.com/at-import/breakpoint
[submodule "git_submodules/breakpoint-sass"]
    path = git_submodules/breakpoint-sass
    url = https://github.com/at-import/breakpoint.git
