$palettes: (

);

$z-index: (

);

$fallback: Helvetica, Arial, sans-serif;
$regular: '', $fallback;
$reg: $regular;

// BREAKPOINTS
$hi-res: min-resolution 1.5dppx;
$mobile-wide: 480px;
$tablet-narrow: 720px;
$tablet-wide: 1024px;
$laptop: 1200px;
$desktop: 1600px;

// MQPacker Order Definition
@include mq($mobile-wide) { /* 480px */ }
@include mq($tablet-narrow) { /* 720px */ }
@include mq($tablet-wide) { /* 1024px */ }
@include mq($laptop) { /* 1200px */ }
@include mq($desktop) { /* 1600px */ }
