// Combining and improving on ideas from:
//   compass-photoshop-drop-shadow <https://github.com/heygrady/compass-photoshop-drop-shadow>
//   scss-blend-modes <https://github.com/heygrady/scss-blend-modes/blob/master/stylesheets/_blend-modes.scss>

@function ps-shadow($conf) {
	$conf: map-merge((
		angle: 120,
		spread: 0,
		distance: 0,
		size: 0,
		choke: 0,
		color: #000,
	), $conf);

	$angle: map-get($conf, angle);
	$spread: map-get($conf, spread);
	$distance: map-get($conf, distance);
	$size: map-get($conf, size);
	$color: map-get($conf, color);
	$opacity: map-get($conf, opacity);

	@if unitless($angle) or unit($angle) == 'deg' {
		$angle: deg-to-rad($angle, false);
	} @else if unit($angle) == 'rad' {
		$angle: unitless($angle);
	} @else {
		@warn 'Check your angle. Expecting a number: unitless (assumed deg), deg or rad.'
	}

	$h-shadow: round(cos($angle) * $distance);
	$v-shadow: round(sin($angle) * $distance);

	@if unit($spread) == '%' {
		$spread: $spread / 1%;
	} @else if $spread < 1 {
		$spread: $spread * 100;
	}

	$spread: round($size * $spread/100);

	$blur: $size - $spread;

	@if map-has-key($conf, opacity) {
		$opacity: map-get($conf, opacity);
		
		@if unit($opacity) == '%' {
			$opacity: $opacity / 1% / 100;
		}

		$color: rgba($color, $opacity);
	}

	@if ($h-shadow == 0) {
		$h-shadow: 0;
	}
	@if ($v-shadow == 0) {
		$v-shadow: 0;
	}
	@if ($blur == 0) {
		$blur: 0;
	}
	@if ($spread == 0) {
		$spread: 0;
	}

	@return (if(map-get($conf, inset), inset, unquote('')) $h-shadow $v-shadow $blur $spread $color);
}