include /mixins/if-ie.jade

doctype html
html(lang="en")
	head
		title

		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, minimal-ui, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		//- link(rel='dns-prefetch', href='//example.com')

		if !production
			link(rel='stylesheet', href='main.css')
		else
			link(rel='stylesheet', href='main.min.css')

	body
		block body

	script(src='//code.jquery.com/jquery-2.1.1.min.js')
	script(type='text/javascript').
		window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>');
	if !production
		script(src='js/main.js')
	else
		script(src='js/main.min.js')
	block scripts