$ie8: false !default;

$base-font-size: 16;
$base-line-height: 1.25;

$palettes: (

);

$z-index: (

);

$fallback: Helvetica, Arial, sans-serif;
$regular: '', $fallback;
$reg: $regular;

// BREAKPOINTS
$hi-res: min-resolution 1.5dppx // can never remember the query so here it is; breakpoint fills in the rest of the fallback