$ie8: false !default;

$base-font-size: 16;
$base-line-height: 1.25;

$palettes: (

);

$breakpoints: (
	hires: (
		1.5: min-resolution 1.5dppx // breakpoint fills in the rest of the fallback
	)
);

$z-index: (

);

$fallback: Helvetica, Arial, sans-serif;
$regular: '', $fallback;
$reg: $regular;