@mixin positions($position, $positions: ()) {
	position: $position;
	
	@each $value in $positions {
	 @if not is-valid-position($value) {
	    @error 'Invalid value `#{$value}` for positions in `#{$positions}`.'
	 }
	}
	
	@if length($positions) == 2 {
    top: nth($positions, 1);
    right: nth($positions, 2);
    bottom: nth($positions, 1);
    left: nth($positions, 2);
	} @else if length($positions) == 3 {
	  top: nth($positions, 1);
    right: nth($positions, 2);
    bottom: nth($positions, 3);
    left: nth($positions, 2);
	} @else if length($positions) == 4 {
	  top: nth($positions, 1);
    right: nth($positions, 2);
    bottom: nth($positions, 3);
    left: nth($positions, 4);
	} @else {
	  @error 'Invalid length for `#{$positions}`';
	}
}

@mixin absolute($positions) {
	@include positions('absolute', $positions)
}

@mixin fixed($positions) {
	@include positions('fixed', $positions)
}

@mixin relative($positions) {
	@include positions('relative', $positions)
}